* {
    /* adds padding and margin to height-width calculation */
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/* Reset the 3D border in the input elements */
input,
textarea {
    border: initial;
}

/*Fix some of the property access problems*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
pre,
head,
label,
input,
textarea,
span {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1.3;
}